/* Universal Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: black;
}

body {
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-flow: column wrap;
}

/* Header */ 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: lightgrey 2px solid;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    height: 4rem;
}

header h1 a {
    display: flex;
    font-family: 'Press Start 2P', cursive;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

/* Nav */

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding: 1rem 2rem;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.navheading.xbox:hover {
    color: limegreen;
}

.navheading.ps:hover {
    color: blue;
}

.navheading.nintendo:hover {
    color: red;
}

nav a:active {
    background-color: lightgrey;
}

/* Main / Banner */

.banner{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    background-image: url(../images/banner.jpg);
    background-size: cover;
   
}

.banner h1 {
    color: black;
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}


/* Sections */

section {
    background-color: black;
    margin: 1.5rem 2.5rem 4rem 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

/* STICKY HEADINGS WAS CAUSING TOO MANY PROBLEMS

section.xbox {
    position: sticky;
    top: 5.1rem;
}

section.ps {
    position: sticky;
    top: 8.75rem;
}

section.nintendo {
    position: sticky;
    top: 12.45rem;
} */

.subheading {
    width: 100%;
    border-radius: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-bottom: 2px solid black;
    font-weight: bolder;
    padding: 0.5rem;

}

.subheading.xbox {
    background-color: limegreen;
}

.subheading.ps {
    background-color: blue;
    border: blue;
}

.subheading.nintendo {
    background-color: red;
    border: red;
}

.content-container {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0 0;
    flex-flow: row wrap;
}

figure.xbox {
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
    width: 23%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure.ps {
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
    width: 18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure.nintendo {
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    overflow: hidden;
    flex-shrink:1;
}

figcaption {
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
}


/* Footer */

footer {
    width: 100%;
    background-color: black;
    padding: 1rem;
    border-top: lightgrey 2px solid;
    display: flex;
    justify-content: space-between;
}

footer h5 {
    color: white;
    font-weight: normal;
}

h5 .left {
    text-align: left;
}

h5 .right {
    text-align: right;
}


/* Media Queries */

/* Smaller Laptop or Landscape Tablet */

@media only screen and (max-width: 1024px) {

    figure.xbox, figure.ps, figure.nintendo {
        margin-bottom: 1rem;
        width: 48%;
    }

    section {
        margin-bottom: 2rem;
    }
}


/* Tablet */

@media only screen and (max-width: 814px) {
    header h1 a {
        font-size: 1rem; 
    }
    .banner h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 637px) {
    nav li {
        padding: 1rem;
    }

    .banner h1 {
        padding: 2rem;
    }
}

/* Phone */

@media only screen and (max-width: 541px) {
    nav li {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 470px) {
    nav li {
        padding: 0.5rem;
    }
    figure.xbox, figure.ps, figure.nintendo {
        margin-bottom: 1rem;
        width: 100%;
    }

    section {
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 422px) {
    header h1 a {
        font-size: 0.8rem; 
    }
   
    nav li {
        font-size: 0.65rem;
    }

    .banner h1 {
        font-size: 2rem;
    }
}